/* 
 * Stylesheet parallel coordinates graph 
 */
svg {
  font: 10px sans-serif;
}

.background path {
  position: relative;
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.foreground path {
  position: relative;
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

#graph {
  padding-top: 50px;
}

#parallelgraph_title {
  text-align: left;
  font-weight: bold;
  font-family: helvetica;
  font-size: 24px;
}

/* tooltips */
div.graphTooltip
div.countryLabel { 
    position: absolute;     
    text-align: center;     
    width: 73px;          
    height: 30px;         
    padding: 2px;       
    font: 13px sans-serif; 
    font-weight: bold;   
    background: #ffcc80; 
    border: 2;    
    border-radius: 1px;     
    pointer-events: none;     
}
