/* Stylesheet Julia Jansen
 * Project 
 * Minor programmeren
 */

/* style titles */
h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

/* style navigation bar */
.navbar-default {
  background: #006600;
  border: #004d00;
}
.navbar-default .navbar-brand {
  color: #d9d9d9;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #d9d9d9;
}
.navbar-default .navbar-nav > li > a {
  color: #d9d9d9;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background: #004d00;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background: #004d00;
}
.navbar-default .navbar-toggle {
  border: #004d00;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #004d00;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #d9d9d9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: #d9d9d9;
}
.navbar-default .navbar-link {
  color: #d9d9d9;
}

/* buttons for bargraph */
#energybutton {

}

#emissionbutton {

}

#wastebutton {

}

/* slider */
#slider {
	width: 500px;
  margin-left: 50px;
}

#strikingtext {
  padding-left: 50px;
}

#toggle {
  align: right;
}

/* welcome text */
#welcometext {
	text-align: center;
}