/* Stylesheet welcome page 
 * Julia Jansen
 * Project 
 * Minor programmeren
 */

body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica;
  margin: auto;
  width: 960px;
}

/* style titles */
h1 {
  font-size: 48px;
	text-align: center;
  letter-spacing: 2px;
  margin-top: 10px;
}

h2 {
	text-align: center;
}

h3 {
  font-size: 14px;
}

footer {
  font: helvetica;
  font-weight: normal;
  background: #003300;
  color: #d9d9d9;
  font-size: 10px;
  letter-spacing: 1.2px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

/* style navigation bar */
.navbar-default {
  background: #003300;
  border: #004d00;
}
.navbar-default .navbar-brand {
  color: #d9d9d9;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #d9d9d9;
}
.navbar-default .navbar-nav > li > a {
  color: #d9d9d9;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background: #004d00;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background: #004d00;
}
.navbar-default .navbar-toggle {
  border: #004d00;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #004d00;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #d9d9d9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: #d9d9d9;
}
.navbar-default .navbar-link {
  color: #d9d9d9;
}
.navbar .navbar-default .navbar-inverse {
  width: 100%;
}

.navbad .navbar-navbar .navbar-right {
  padding-right: 30px;
}

/* info text at the webpage */
.infotext {
  font-family: helvetica;
  font-size: 14px;
  letter-spacing: 1.2px;
  color: #262626; 
}

/* to color text green */
.greentext {
  color: #008000;
}

/* footer text */
.listtitle {
  padding-top: 15px;
}

/* contact page */
.contact {
  padding-bottom: 150px;
  padding-top: 100px;
  text-align: center;
}

/* define space between different tabs */
.newtab {
  padding-top: 4px;
}

.endtab {
  padding-bottom: 70px;
}

/* sources in footer */
.sources a {
  color: #33bbff;
  list-style: none;
}

.emphasize_text {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.emphasize_medium {
  font-weight: bold;
}

.redtext {
  color: #ff3333;
}

/* text on web page */
.strikingtext {
  color: #737373;
  font-size: 12px;
  letter-spacing: 2px;
  padding-top: 5px;
}


/* data sources list in footer */
#data {
  text-align: left;
}

#carbon_text {
  color: #75a3a3;
}

#energy_text {
  color: #2db300;
}

#waste_text {
  color: #ff4000;
}

/* contact tab */
#contact_name { 
  padding-top: 100px;
  font-size: 24px;
}

#contact_email {
  font-size: 12px;
}

/* introduction text */
#italictext {
  font-style: italic;
}

#lit_source {
  font-size: 9px;
}

/* main title of page */
#main_title {
  padding-bottom: 10px;
}

#morepadding {
  padding-bottom: 35px;
}

/* plugin list in footer */
#plugins {
  text-align: right;
}

/* text next to slider */
#slidertext {
  color: #000;
  font-size: 10px;
  letter-spacing: 2px;
}

#right {
  text-align: left;
  padding-right: 40px;
  padding-top: 6px;
}

#left {
  text-align: right;
  padding-left: 40px;
}

/*#small_text {
  font-size: 12px;
}*/

/* welcome text */
#welcometext {
  font-size: 22px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #999999;
}
