/* stylesheet graphs and charts */

/* 
 * parallel coordinates graph 
 */
svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

#graph {
  padding-top: 50px;
}

#parallelgraph_title {
  font-weight: bold;
  font-family: helvetica;
  font-size: 48px;
}

/* slider */
#slider {
  width: 500px;
  margin-left: 50px;
}

#strikingtext {
  padding-left: 50px;
}

#toggle {
  align: right;
}

/* bargraph */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

#barchart {
  padding-top: 50px;
}

/* buttons for bargraph */
#energybutton {

}

#emissionbutton {

}

#wastebutton {

}